/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2014, 2:38:48 PM
    Author     : NguyenHoanTuan
*/
.title a{
    color: #01458E;
    font-family: Verdana, Geneva, sans-serif;
}
.header_right a.mau{
    color: #01458E;    
}
.footer{ background-color:#01458E; border-top:1px #fff solid;padding:0 0 0 20px; text-align: center; padding-top: 10px; padding-bottom: 10px; color: white;
        -moz-border-radius-bottomleft:10px;-webkit-border-bottom-left-radius:10px;-khtml-border-bottom-left-radius:10px;border-bottom-left-radius:10px;
        -moz-border-radius-bottomright:10px;-webkit-border-bottom-right-radius:10px;-khtml-border-bottom-right-radius:10px;border-bottom-right-radius:10px;
}
ul.tabsmenu{ padding:5px 0 0 0;clear:both; list-style:none; margin:0px;}
ul.tabsmenu li a{ width:auto; float:left; margin:0 5px 0 0;text-align:center;
                  background-color:#01458E;
                 color:#fff; font-size:15px; font-weight:bold; padding:5px 15px; text-shadow:0px 0px #DCEEF7;
}
ul.tabsmenu li.active a{ background-color:#3300CC;}
ul.tabsmenu li a:hover{background-color:#3300CC;}

